input {
  font-family: 'UniversLight', sans-serif;
  padding: 0 15px;
  border: solid black 1px;
  font-size: 15px;
  line-height: 20px !important;
  color: black;
  width: auto !important;
  height: 45px !important;
  border-radius: 0 !important;
}

textarea {
  padding: 15px;
  font-size: 15px;
  line-height: 20px !important;
  color: black;
  border: solid black 1px;
  border-radius: 0 !important;
}
